/* ==============================================

  =====================
  = TABLE OF CONTENTS =
  =====================

  1. Whitespace Removal
  2. Left Side
    * Title Box
  3. Right Side
    * Carousel Image Gallery
    * Carousel Radio Buttons
    * Carousel Arrow Buttons
    *
  3. Media Query
    -

  =========
  = FONTS =
  =========

  1. Open Sans
    * Font Weights: 300 500 600 800

  =================
  = COLOR PALLETE =
  =================

  #3F88C5 - Darker Blue
  #E61D2B - Red
  #0D0106 - Smoky Black
  #97DFFC - Winter Wizard
  #817F82 - Gray
  #EFEFEF - isabelline

============================================== */

/* ======================
   = WHITESPACE REMOVAL =
   ====================== */

body {
  margin: 0;
}

main {
  display: flex;
  overflow: hidden;
}

p, h1, button {
  font-family: 'Open Sans', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* =============
   = LEFT SIDE =
   ============= */

.left-side {
  height: 100vh;
  width: 60%;
  display: flex;
  flex-flow: row wrap;
}

/* TITLE BOX */

.big-box {
  height: 33.3333333333%;
  width: 66.6666666666%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-card-box {
  background-color: #E61D2B;
}

.big-box-title, .big-box-text, .big-box-button-group {
  padding: 0 20px 0 20px;
}

.coca-cola-logo {
  margin-left: 20px;
  height: 65px;
}

.big-box-text {
  color: #EFEFEF;
  font-weight: 300;
  font-size: 16px;
}

.big-box-button-icon {
  height: 22px;
}

.box-button {
  border: #EFEFEF solid 1px;
  background: none;
  font-weight: 500;
  font-size: 14px;
  color: #EFEFEF;
  width: 125px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.box-button:hover {
  color: #0D0106;
  background: #EFEFEF;
}

.contact-button {
  margin-left: 15px;
}

.big-box-button-group {
  display: flex;
  align-items: flex-start;
}

/* GENERAL BOX SETTINGS */

.box {
  height: 33.3333333333%;
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 75px;
  margin-bottom: 30px;
}

.box:hover {
  background: #EFEFEF;
  color: #0D0106;
}

.box:hover .box-text {
  color: #0D0106;
}

.box-text {
  font-size: 14px;
  font-weight: 600;
  color: #EFEFEF;
  margin-top: -15px;
}

/* HISTORY BOX */

.history-box {
  background: #3F88C5;
}

.history-icon-path {
  fill: #FFF;
}

.history-box:hover .history-icon-path {
  fill: #000;
}

/* SUSTAINABILITY BOX */

.sustainability-box {
  background: #97DFFC;
}

.sustainability-icon-path {

}

/* BRANDS BOX */

.brands-box {
  background: #0D0106;
}

/* CAREERS BOX */

.careers-box {
  background: #817F82;
}

/* NUTRITION BOX */

.nutrition-box {
  background: #3F88C5;
}

/* PRESS BOX */

.press-box {
  background: #E61D2B;
}

/* INVESTORS BOX */

.investors-box {
  background: #97DFFC;
}

/* ==============
   = RIGHT SIDE =
   ============== */

.right-side {
  height: 100vh;
  width: 40%;
  background-image: url(images/test2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

/* CAROUSEL IMAGE GALLERY */

.picture-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  overflow: hidden;
  background-image: url(images/gallery/gallery-bottle-cap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-image {
  height: 100%;
  width: 100%;
  align-self: center;
  z-index: -2;
  display: inline;
}

.carousel-container {
  z-index: 10;
  padding: 15px 15px 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* CAROUSEL RADIO BUTTONS */

input[type=radio] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background-color: rgba(105, 105, 105, 0.55);
  margin-left: 5px;
}

input[type="radio"]:hover + label span {
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background-color: rgb(105,105,105);
}

input[type="radio"]:checked + label span {
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background-color: #FFF;
}

/* ARROW BUTTON */

.arrow-buttons-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 15px 0 15px;
  margin-bottom: 10%;
}

.left-arrow, .right-arrow {
  background-color: rgba(9,9,9, 0.6);
  border: 2px rgba(161, 162, 153, 0.6) solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgba(9,9,9,1);
  border: 2px rgba(161,162,153,1) solid;
}

.left-arrow {
  transform: rotate(180deg);
}

.arrow-icon {
  height: 25px;
  opacity: 0.5;
}

@media (max-width: 960px){

  .big-box-text {
    font-size: 12px;
  }

  .coca-cola-logo {
    height: 35px;
  }

  .icon {
    height: 50px;
  }

  .box-button {
    font-size: 11px;
    height: 30px;
  }
}

@media (max-width: 735px){
  body {
    height: 100vh;
  }

  main {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
  }

  .right-side {
    width: 100%;
    height: 40vh;
  }

  .picture-box {
    height: 40vh;
    background-image: url(images/gallery/coke-can-side.jpg);
  }

  .arrow-buttons-container {
    height: 40vh;
  }

  .left-side {
    width: 100%;
    height: 65%;
  }

  .big-box {
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .icon {
    height: 60px;
  }

  .box-text {
    font-size: 10px;
  }

  .box {
    width: 50%;
    height: 200px;
  }

  .box-button {
    height: 40px;
  }
}
